[package]
name = "openssl-sys"
version = "0.9.6"
authors = ["Alex Crichton <alex@alexcrichton.com>",
           "Steven Fackler <sfackler@gmail.com>"]
license = "MIT"
description = "FFI bindings to OpenSSL"
repository = "https://github.com/sfackler/rust-openssl"
documentation = "https://docs.rs/openssl-sys/0.9.6/openssl_sys"
links = "openssl"
build = "build.rs"

[dependencies]
libc = "0.2"

[build-dependencies]
metadeps = "1"

[target.'cfg(windows)'.dependencies]
user32-sys = "0.2"
gdi32-sys = "0.2"

[package.metadata.pkg-config]
openssl = "1.0.0" # We actually need 1.0.1, but OpenBSD reports as 1.0.0
